#portfolioHeader{
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

#portfolioHeader li a{
  padding-bottom: 0;
  padding-top: 0;
}

/* #row1Body{
  margin-left: 1%;
  margin-right: 7%;
} */

#row1Body.container{
  width: 100%;
}

.row1{
  background-color: #ef6c00;
}

#cyclerTease{
padding-right: 10px;
}

#iconMain{
  padding-left:10px;
  padding-right:10px;
}



#iconRow{
  padding: 2%;
}