body{
  font-family: 'Coda', cursive;

}

#portfolioHeader{
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

#testWidth{
  padding:0;
}

#innerTest{
  padding:24px;
}

#portfolioHeader{
  margin-bottom: 0;
}

#portfolioHeader li a{
  padding-bottom: 0;
  padding-top: 0;
}


#row1Body.container{
  width: 100%;
}

#profilePic{
  height: 300px;
  width: 286px;
}

.row1{
  background-color: #ef6c00;
}

#cyclerTease{
padding-right: 10px;
}

#iconMain{
  padding-left:10px;
  padding-right:10px;
}



#iconRow{
  padding: 2%;
}

#liriInput{
  background-color: aliceblue;
}